[
  {
    "Id": "PlantAnApp.PdfAutoSigner.ApplySignature",
    "TypeStr": "PlantAnApp.Integrations.PdfAutoSigner.Actions.SignPDF,PlantAnApp.Integrations.PdfAutoSigner",
    "Conditions": [
      {
        "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
        "Settings": {
          "AppCodes": ["AFORM", "AGRID"]
        }
      }
    ],
    "Title": {
      "default": "Apply Signature"
    },
    "Parameters": [
      {
        "Id": "UserNeedsEnrolment",
        "Type": "Text",
        "Title": {
          "default": "User needed Enrolment"
        },
        "HelpText": {
          "default": "Can be obtained from the Enrol User action. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "ExternalId",
        "Type": "Text",
        "Title": {
          "default": "External ID"
        },
        "HelpText": {
          "default": "External ID that identifies the user, Required field. This field supports Tokens."
        }
      },
      {
        "Id": "SessionId",
        "Type": "Text",
        "Title": {
          "default": "Session Id"
        },
        "HelpText": {
          "default": "The session ID obtained in the Apply Intermediate Signature action. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "SmsCode",
        "Type": "Text",
        "Title": {
          "default": "Sms Code"
        },
        "HelpText": {
          "default": "Code received by SMS. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "SignatureFieldName",
        "Type": "Text",
        "Title": {
          "default": "Signature Field Name"
        },
        "HelpText": {
          "default": "The signature field name that was set or obtained in the Apply Intermediate Signature action. Required Field. This field supports Tokens."
        }
      },
      {
        "Id": "DocumentTitle",
        "Type": "Text",
        "Title": {
          "default": "Document Title"
        },
        "HelpText": {
          "default": "Document title or titles that were set in Apply Intermediate Signature, multiple titles can be provided in a comma sepparated format. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "FileIdentifier",
        "Title": {
          "default": "PDF file indentifier"
        },
        "HelpText": {
          "default": "Can provide multiple file IDs sepparated by ';'. Required field. This field supports Tokens."
        },
        "Type": "Select",
        "Settings": {
          "DataSource": "PortalFiles",
          "SupportsExpressions": "true"
        }
      },
      {
        "Id": "Folder",
        "Title": {
          "default": "Folder"
        },
        "HelpText": {
          "default": "Where the files from this action will be stored."
        },
        "Type": "Select",
        "Settings": {
          "DataSource": "PortalFolderList",
          "SupportsExpressions": "true"
        }
      },
      {
        "Id": "OutputTokenName",
        "Type": "Text",
        "Title": {
          "default": "Output Token Name"
        },
        "HelpText": {
          "default": "Output token that will contain the filed ID of the signed pdf, or multiple filed IDs sepparated with a ';'."
        }
      },
      {
        "Id": "SignedTncOutputToken",
        "Type": "Text",
        "Title": {
          "default": "Signed Terms and Conditions Output Token"
        },
        "HelpText": {
          "default": "If the user needed enrolment, the signed Terms and Conditions will generated and the file ID will be in this token."
        }
      }
    ]
  }
]
