[
  {
    "Id": "PlantAnApp.PdfAutoSigner.EnrolUser",
    "TypeStr": "PlantAnApp.Integrations.CloudPdfSign.Actions.EnrolUser,PlantAnApp.Integrations.CloudPdfSign",
    "Conditions": [
      {
        "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
        "Settings": {
          "AppCodes": ["AFORM", "AGRID"]
        }
      }
    ],
    "Title": {
      "default": "Enrol User"
    },
    "Parameters": [
      {
        "Id": "ExternalId",
        "Type": "Text",
        "Title": {
          "default": "External ID"
        },
        "HelpText": {
          "default": "GUID which will be bound to the user details below. Providing a GUID which was already enroled will allow you to not provide values for the detail fields below. This field supports Tokens."
        }
      },
      {
        "Id": "FirstName",
        "Type": "Text",
        "Title": {
          "default": "First Name"
        },
        "HelpText": {
          "default": "First name of the signer. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "LastName",
        "Type": "Text",
        "Title": {
          "default": "Last Name"
        },
        "HelpText": {
          "default": "Last name of the signer. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "Email",
        "Type": "Text",
        "Title": {
          "default": "Email"
        },
        "HelpText": {
          "default": "Email fo the signer. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "PhoneNumber",
        "Type": "Text",
        "Title": {
          "default": "Phone Number"
        },
        "HelpText": {
          "default": "Phone number of the signer. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "CountryCode",
        "Type": "Text",
        "Title": {
          "default": "Country Code"
        },
        "HelpText": {
          "default": "Country code of the signer. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "CNP",
        "Type": "Text",
        "Title": {
          "default": "CNP"
        },
        "HelpText": {
          "default": "CNP of the signer. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "Address",
        "Type": "Text",
        "Title": {
          "default": "Address"
        },
        "HelpText": {
          "default": "Address of the signer. Required field. This field supports Tokens."
        }
      },
      {
        "Id": "CustomPhotoFileId",
        "Title": {
          "default": "ID Card Photo File Indentifier"
        },
        "HelpText": {
          "default": "File representing the photo of the ID card of the signer. Required field. This field supports Tokens."
        },
        "Type": "Select",
        "Settings": {
          "DataSource": "PortalFiles",
          "SupportsExpressions": "true"
        }
      },
      {
        "Id": "Locality",
        "Type": "Text",
        "Title": {
          "default": "Locality"
        },
        "HelpText": {
          "default": "Locality of the signer. This field supports Tokens."
        }
      },
      {
        "Id": "District",
        "Type": "Text",
        "Title": {
          "default": "District"
        },
        "HelpText": {
          "default": "District of the signer. This field supports Tokens."
        }
      },
      {
        "Id": "Sector",
        "Type": "Text",
        "Title": {
          "default": "Sector"
        },
        "HelpText": {
          "default": "Sector of the signer. This field supports Tokens."
        }
      },
      {
        "Id": "Street",
        "Type": "Text",
        "Title": {
          "default": "Street"
        },
        "HelpText": {
          "default": "Street of the signer. This field supports Tokens."
        }
      },
      {
        "Id": "StreetNumber",
        "Type": "Text",
        "Title": {
          "default": "Street Number"
        },
        "HelpText": {
          "default": "Street number of the signer. This field supports Tokens."
        }
      },
      {
        "Id": "ZIPCode",
        "Type": "Text",
        "Title": {
          "default": "ZIP Code"
        },
        "HelpText": {
          "default": "ZIP Code of the signer. This field supports Tokens."
        }
      },
      {
        "Id": "Apartment",
        "Type": "Text",
        "Title": {
          "default": "Apartment"
        },
        "HelpText": {
          "default": "Apartment of the signer. This field supports Tokens."
        }
      },
      {
        "Id": "Block",
        "Type": "Text",
        "Title": {
          "default": "Block"
        },
        "HelpText": {
          "default": "Block of the signer. This field supports Tokens."
        }
      },
      {
        "Id": "Entrance",
        "Type": "Text",
        "Title": {
          "default": "Entrance"
        },
        "HelpText": {
          "default": "Entrance of the signer. This field supports Tokens."
        }
      },
      {
        "Id": "IdCardExpirationDate",
        "Type": "Text",
        "Title": {
          "default": "ID Card Expiration Date"
        },
        "HelpText": {
          "default": "Expiration date of the ID card. This field supports Tokens."
        }
      },
      {
        "Id": "IdCardIssueDate",
        "Type": "Text",
        "Title": {
          "default": "ID Card Issue Date"
        },
        "HelpText": {
          "default": "Issue date of the ID card. This field supports Tokens."
        }
      },
      {
        "Id": "IdCardIssuer",
        "Type": "Text",
        "Title": {
          "default": "ID Card Issuer"
        },
        "HelpText": {
          "default": "Issuer date of the ID card. This field supports Tokens."
        }
      },
      {
        "Id": "IdCardNumber",
        "Type": "Text",
        "Title": {
          "default": "ID Card Number"
        },
        "HelpText": {
          "default": "ID card number. This field supports Tokens."
        }
      },
      {
        "Id": "IdCardSerial",
        "Type": "Text",
        "Title": {
          "default": "ID Card Serial"
        },
        "HelpText": {
          "default": "ID card serial number. This field supports Tokens."
        }
      },
      {
        "Id": "Folder",
        "Title": {
          "default": "Folder"
        },
        "HelpText": {
          "default": "Select the portal folder where the terms and conditions file will be saved."
        },
        "Type": "Select",
        "Settings": {
          "DataSource": "PortalFolderList",
          "SupportsExpressions": "true"
        }
      },
      {
        "Id": "FileIdOutputTokenName",
        "Type": "Text",
        "Title": {
          "default": "File Id Output Token Name"
        },
        "HelpText": {
          "default": "Output token name which will hold the terms and conditions file id."
        }
      },
      {
        "Id": "OutputTokenName",
        "Type": "Text",
        "Title": {
          "default": "User Needed Enrolment Output Token"
        },
        "HelpText": {
          "default": "Ouput token which will hold a boolean representing the if enrolment needed to take place or not."
        }
      },
      {
        "Id": "OnError",
        "Title": {
          "default": "On Error"
        },
        "Type": "ActionList",
        "HelpText": {
          "default": "Define a list of actions that should execute when this action's result is Error. You can see the error message in [Enrol:Error]."
        },
        "Settings": {
          "Event": "anError"
        }
      }
    ]
  }
]
