<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="WriteAuditLoggingInformation" value="true"/>
        <add key="PathOfFolderForLogging" value="D:\Logs\Paperless.DotNetSdk"/>
    </appSettings>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="CustomBehavior">
                    <clientCredentials>
                        <clientCertificate findValue="200605167062093ef6a836dae1ef9b9e" x509FindType="FindBySerialNumber"
                                           storeLocation="CurrentUser" storeName="My"/>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_EnrollmentServiceContract"
                         closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                         messageEncoding="Text"
                         maxBufferSize="125829120" maxBufferPoolSize="125829120" maxReceivedMessageSize="125829120">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate"/>
                    </security>
                </binding>

                <binding name="BasicHttpBinding_SigningServiceContract"
                         closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                         messageEncoding="Text"
                         maxBufferSize="125829120" maxBufferPoolSize="125829120" maxReceivedMessageSize="125829120">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>

        <client>
            <endpoint address="https://rssdemo.certsign.ro/RSS.EnrollmentService_01/EnrollmentService.svc/EnrollmentService"
                      behaviorConfiguration="CustomBehavior"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EnrollmentServiceContract"
                      contract="EnrollmentServiceRef.EnrollmentServiceContract"
                      name="BasicHttpBinding_EnrollmentServiceContract"/>

            <endpoint address="https://rssdemo.certsign.ro/RSS.SigningService_01/SigningService.svc/SigningService"
                      behaviorConfiguration="CustomBehavior"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SigningServiceContract"
                      contract="SigningServiceRef.SigningServiceContract"
                      name="BasicHttpBinding_SigningServiceContract"/>
        </client>
    </system.serviceModel>

    <!--
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_EnrollmentServiceContract" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59342/EnrollmentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EnrollmentServiceContract"
                contract="EnrollmentServiceRef.EnrollmentServiceContract"
                name="BasicHttpBinding_EnrollmentServiceContract" />
        </client>
    </system.serviceModel>
    -->
</configuration>